@use "../components/Banner/Banner.scss" as *;

.aboutbanner {
   @include paramBanniere("../assets/images/banniere_apropos.jpg", 0.3, 0);
}

#aboutmenu {
   display: flex;
   flex-direction: column;
   margin: 18px auto;
   max-width: 1023px;
   @media (max-width: 600px) {
      margin: 0 auto;
   }
}

#aboutcollapse {
   border-radius: 5px;
   margin-top: 30px;
   font-size: 1.5rem;
   font-weight: 700;
   @media (max-width: 600px) {
      font-size: 0.8rem;
      margin-top: 20px;
   }
}
