@use "../components/Banner/Banner.scss" as *;

.aboutbanner {
   @include paramBanniere("../assets/images/banniere_apropos.jpg", 0.3, 0);
}

.aboutmenu {
   display: flex;
   flex-direction: column;
   margin: 0px auto 0 auto;
   max-width: 1023px;
}

#aboutcollapse {
   border-radius: 5px;
   margin-top: 30px;
}
