#page404 {
   margin: 150px auto;
   text-align: center;
   color: #ff6060;

   h1 {
      margin: 20px auto;
      font-size: 288px;
   }

   p {
      font-size: 36px;
   }

   a {
      color: black;
   }
}
