Header {
   display: flex;
   justify-content: space-between;
   margin: 50px 100px 0 100px;
   height: 68px;
   a {
      text-decoration: none;
   }
}

nav {
   display: flex;
   justify-content: flex-end;
}
ul {
   display: flex;
   list-style: none;
}

li {
   margin-left: 57px;
   text-decoration: none;
   font-size: 24px;
   @media (max-width: 768px) {
      font-size: 1rem;
      text-transform: uppercase;
   }
}
