Header {
   display: flex;
   justify-content: space-between;
   margin: 50px 100px 0 100px;
   height: 68px;

   a {
      text-decoration: none;
      color: black;
   }
   @media (max-width: 600px) {
      position: fixed;
      background-color: white;
      inset: 0;
      z-index: 10;
      margin: 0;
      padding: 20px 20px 0 20px;
   }

   nav {
      display: flex;
      justify-content: flex-end;
   }
   ul {
      display: flex;
      list-style: none;
      padding: 0;
   }

   li {
      margin-left: 57px;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 500;
      @media (max-width: 600px) {
         font-size: 0.8rem;
         font-weight: 500;
         text-transform: uppercase;
         margin-left: 15px;
      }
   }
}

.nav-link.active {
   text-decoration: underline;
}
