footer {
   display: grid;
   place-items: center;
   background-color: black;
   text-align: center;
   height: 209px;
   width: 100%;
   grid-gap: 0;

   p {
      color: white;
      align-self: flex-start;
      width: 40%;
   }

   picture {
      align-self: flex-end;
   }
}
